*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}










body {
    background-image: url(../images/prism.png);
    margin: 0;
    color: #777;\
    position: absolute;
}

.wrapper{
    position: relative;
    padding-bottom: 10px;
}

img {
    width: 100px;
    height: 100px;
}

.name {
    background-color: #4aaaa5;
    width: 15%;
    height: 75px;
    color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: fixed;
    left: 10%;
    text-align: center;
}

header {
    background-color: #fff;
    height: 75px;
    width: 100%;
    position: relative;
    top: 0;
    margin-bottom: 30px;
}

.aboutMe {
 border-bottom: solid #777 1px;
 padding: 0;
 padding-top: 5px;
}

#aboutBtn {
    clear: both;
    float: right;
    padding: 5px;
    position: fixed;
    right: 30%;
}

#portfolioBtn {
    float: right;
    padding: 5px;
    position: fixed;
    right: 25%;
    border-left: grey solid 1px;
}

#contactBtn {
    float: right;
    padding: 5px;
    position: fixed;
    right: 20%;
    border-left: grey solid 1px;
}

section {
    width: 960px;
    margin: 0 auto 0 auto;
    padding-top: 80px;
    background-color: white;
}

footer {
    background-color: #666666;
    text-align: center;
    border-top: solid 5px;
    border-color: #4aaaa5;
    color: rgb(165, 163, 163);
    height: 50px;
    width: 100%;
    position: realtive;
    bottom: 0;
}
